<%- include("header") -%>


<div class="container box1" id="headin">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box" id="heading">

        <h1>
          <%= listTitle %>
        </h1>
      </div>
    <!--box class-->
      <div class="box">
        <% newListItems.forEach((element)=>{ %>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
              <p>
                <%= element.name %>
              </p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>"></input>
          </form>
          <% }) %>
    
    
    
            <form class="item" action="/list/" method="post">
              <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
              <button type="submit" name="list" value="<%=listTitle%>">+</button>
            </form>
      </div>
    </div>
  </div>
</div>
  

  <%- include("footer") -%>